<div class="container dashboard-container my-3" *ngFor="let item of totalShowsList">
  <h3>{{item.genre}}</h3>
  <div class="flex-nowrap flex-row overflow-auto row show-container">
    <div class="col-3 card images" *ngFor="let obj of item.details">
      <img class="img-fluid" [src]="obj.image.medium" alt="" [routerLink]="['details']" routerLinkActive="active"
           [queryParams]="{ name: obj.name }" />
      <div class="card-footer row">
        <span class="col-sm-6">{{obj.name}}</span>
        <span class="col-sm-6">Rating : {{obj.rating.average}}</span>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
